
.console {
  background-color: white;
  font-family: monospace;
}

.story {
  text-align: left;
}

.story > .player-input {
  color: orange;
}

.l1-text {
  color: gray;
  /* text-shadow: 0 0 2px black; */
}

.l2-text {
  color: black;
  /* text-shadow: 0 0 2px gray; */
}

.highlight-for-translation {
  text-decoration: underline;
}

.fade-in-text {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}