
.console {
  background-color: white;
  font-family: monospace;
}

.command-input {
  background-color: lightgray;
}

.story {
  text-align: left;
}

.story > .paragraph-header {
  margin-top: 10px;
}

.entity-enemy {
  color: darkred;
  font-weight: bold;
}

.entity-companion {
  color: green;
  font-weight: bold;
}

.entity-item {
  color: goldenrod;
  font-weight: bold;
}

.entity-direction {
  color: black;
  font-weight: bold;
}

.entity-other {
  color: black;
  font-weight: bold;
}

.player-input {
  color: green;
  margin-top: 10px;
}

.paragraph-topic-icon {
  margin-right: 10px;
}

.paragraph-topic-icon.combat {
  color: darkred;
}

.l1-text {
  color: gray;
}

.l2-text {
  color: black;
}

.highlight-for-translation {
  text-decoration: underline;
}

.fade-in-text {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}