.App {
  text-align: center;
}

.story {
  text-align: left;
  margin-left: 100px;
}

.l1-text {
  color: gray;
}

.l2-text {
  color: black;
}

.highlight-for-translation {
  text-decoration: underline;
}

.fade-in-text {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}